{sub_dirs, ["rel"]}.
%{sub_dirs, ["deps", "rel"]}. % when deps will come into play, uncomment this line.
{erl_opts, [debug_info,
            warnings_as_errors,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{require_otp_vsn, "R1[5]B0"}.
{cover_enabled, true}.
{deps, []}.
